<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>Rødt KBH</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">


  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='') }}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
   <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='') }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='') }}js/samler.js"></script>

</head>
<body>
  <div id="page">
    
    <div id="header"  class="clearfix">
      <div id="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" width="60" />
      </div>
      <div id="CTA-hashtag">
        <h1>RødtKbh</h1>
      </div>

      <div id="CTA">
        <div id="CTA-text">
	  <p> Hashtag og del dit billede af et #RødtKbh, så deltager du i konkurrencen om 5 biografbilletter. </p>
        </div>
	<div id="CTA-icons">
	  <p><a target="_blank" href="http://twitter.com"><i class="fa fa-instagram fa-2x"></i></a></p>
	  <p><a target="_blank" href="http://instagram.com"><i class="fa fa-twitter-square fa-2x"></i></a></p>
	</div>
      </div>
      
    </div>
  </div>

	{% block body %} {% endblock %}

  </div>

</body>
</html>
