{% extends "layout.html" %}
{% block body %}
  <div id="posts">
  {% for post in posts %}
<div class="post post-{{ loop.index % 3 }}">
  <div class="post-inner">
      {% if post.service == 'instagram' %}
    <a class="iframe" href="{{ post.orig_url| https }}embed/"> 
    {% endif %}
    <div class="post-image">
      {% if post.image_small %}
        <img src="{{ post.image_small|https }}" width="256" />
      {% endif %}
      </a>
    </div>
    {% if post.service == 'instagram' %}
    </a>
    {% endif %}
    <div class="post-content">
      <div class="post-header clearfix">
<div class="post-icon">
        {% if post.service == 'twitter' %}
      <i class="fa fa-twitter-square fa-3x"></i>
  {% endif %}
        {% if post.service == 'instagram' %}
      <i class="fa fa-instagram fa-3x"></i>
{% endif %}
</div>
<div class="post-title"><p class="post-text-username">@{{ post.username }}</p> <p class="post-text-date">{{ post.date|dateformat }}</p> </div>
</div>
<div class="post-text">{{ post.text|urlize(40, true) }}</div>
  
    </div>

          {% if post.service == 'instagram' %}
    <a class="iframe " href="{{ post.orig_url| https }}embed/">  </a> 
      {% endif %}
    <div class="pic-box" style="display:none" id="fancy-{{ post.id }}">

      {% if post.service == 'twitter' and post.image_small %}
      <!-- <iframe src="/showtweet/{{ post.orig_post_id }}" width="390" height="380" frameborder="0" scrolling="no" allowtransparency="true"></iframe> -->
      {% endif %}
    </div>
  </div>
</div>
  {% endfor %}
  </div>
<div class="clearfix">
<div id="pagination">
{% if page > 1 %}
  <a class="prev" href="?page={{ page - 1 }}">Forrige </a>
{% endif %}
{% if page < pages %}
  <a class="next" href="?page={{ page + 1 }}"> Næste</a>
{% endif %}
</div>
</div>
{% endblock %}
