{% extends "layout.html" %}
{% block body %}
  <div id="posts">
  {% for post in posts %}
  {% if post.promoted == 1 %}
    {% set style = 'promoted' %}
  {% else %}
    {% set style = 'normal' %}
  {% endif %}
  <div class="post post-{{ loop.index % 3 }} {{ style }}">
  <div class="post-inner">
    <!--
      If it's an instagram post or a twitter post with picture, 
      create a fancybox iframe handler (picked up via JS) 
      and wrap a link to such around image.
    -->
    {% if post.service == 'instagram' %}
      {% set iframeUrl = post.orig_url| https  ~ '/embed/' %}
    {% elif post.service == 'twitter' and post.image_small %}
      {% set iframeUrl = '/showtweet/' ~ post.orig_post_id %}
    {% endif %}

    {% if is_admin %}
      <a class="hidePost" href="{{ url_for('hide', id=post.id) }}">Hide post</a> |
      {% if post.promoted == 1 %} 
      <a class="demotePost" href="{{ url_for('demote', id=post.id) }}">Demote post</a>
      {% else %}
      <a class="promotePost" href="{{ url_for('promote', id=post.id) }}">Promote post</a>
      {% endif %}
    {% endif %}
    {% if iframeUrl and post.image_small %}
      <a class="iframe {{ post.service }}" href="{{ iframeUrl }}">
        <div class="post-image">
            <img src="{{ post.image_small|https }}" width="256" />
        </div>
      </a>
    {% endif %}
    <div class="post-content">
      <div class="post-header clearfix">
        <div class="post-icon">
          <i class="fa fa-{{post.service}} fa-3x"></i>
        </div>
        <div class="post-title">
          <p class="post-text-username">@{{ post.username }}</p> 
          <p class="post-text-date">{{ post.date|dateformat }}</p> 
        </div>
      </div>
      <div class="post-text">
        {{ post.text|urlize(40, true) }}
      </div>
    </div>   

  </div>
</div>
  {% endfor %}
  </div>
<div class="clearfix">
<div id="pagination">
{% if page > 1 %}
  <a class="prev" href="?page={{ page - 1 }}">Forrige </a>
{% endif %}
{% if page < pages %}
  <a class="next" href="?page={{ page + 1 }}"> Næste</a>
{% endif %}
</div>
</div>
{% endblock %}
